* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(216, 220, 223);
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}